<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про бібліотеку</title>
</head>
<body>
<h1>Додаток "Бібліотека"</h1>
<h2>Як клієнт я можу:</h2>
<ul>
    <li>переглядати список усіх доступних книжок, авторів, жанрів</li>
    <li>відбирати книжки певного жанру чи автора</li>
    <li>взяти почитати певну книгу</li>
    <li>повернути книгу, яку брав раніше</li>
    <li>поставити оцінку (рейтинг) прочитаній книзі</li>
    <li>написати рецензію на книгу</li>
    <li>в особистому кабінеті можу бачити: які книжки я вже брав, які потрібно повернути, свій рейтинг</li>
    <li>якщо я не повертаю книги вчасно, мій особистий рейтинг знижується</li>
    <li>отримати рекомендації, які книги почитати далі</li>
</ul>
    
<h2>Як бібліотекар я можу:</h2>
<ul>
    <li>додавати нові книги</li>
    <li>перевірити список книг, які знаходяться на руках та у бібліотеці</li>
    <li>надсилати нагадування користувачам, в яких закінчується термін повернення книг</li>
    <li>переглядати список книг (редагувати в разі необхідності) та рецензій</li>
</ul>

<p>Повернутися на <a href="/">головну сторінку</a></p>
</body>
</html>