<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Взяти книгу</title>
</head>
{% include 'menu_cli.html' %}
<body>
    <h1>Підтверди, що ти хочеш взяти цю книгу:</h1>
    <p>Автор: <b>{{ book.author.name }}</b></p>
    <p>Назва: <b>{{ book.title }}</b></p>
    <p>Видавництво: <b>{{ book.publisher.name }}</b></p>
    <p>Рік: <b>{{ book.publish_year }}</b></p>
    
    <form action="/client/borrow_book/{{ book.id }}" method="post">
        {% csrf_token %}
        Поверну книгу до: <input type="date" name="to_date">
        <input type="submit" value="Так, хочу">
    </form>    
</body>
</html>