<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Видача книг</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
{% include 'menu_lib.html' %}
<body>
    {% if books %}
        <h1>Підтвердіть видачу цих книг</h1>
        <form action="{% url 'confirm_borrow_page' %}" method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                <td> Автор </td>
                <td> Назва книги </td>
                <td> Видавництво </td>
                <td> Рік видання </td>
                <td> Користувач </td>
                <td> Коментар </td>
                <td> Підтвердити повернення </td>
                </tr>
            </thead>
                {% for book in books %}
                  <tr>
                    <td> {{ book.book.author.name }} </td>
                    <td> {{ book.book.title }} </td>
                    <td> {{ book.book.publisher.name }} </td>
                    <td> {{ book.book.publish_year }} </td>
                    <td> {{ book.user.username }} </td>
                    <td> {{ book.comments }} </td>
                    <td> <input type="checkbox" name="confirmed" value={{ book.id }}> </td>
                  </tr>                    
                {% endfor %}
        </table>
            <br>
            <input type="submit" value="Підтвердити видачу">
        </form> 
        
    {% else %}
        <h1>Все гаразд, наразі немає книг для підтвердження</h1>
    {% endif %} 
</body>
</html>