<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Надіслати нагадування</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
{% include 'menu_lib.html' %}
<body>
    {% if books %}
        <h1>Варто б нагадати цим користувачам, про повернення книг:</h1>
        <form action="/librarian/send_reminder/" method="post">
        {% csrf_token %}
        <table>
        <thead>  <tr>
            <td> Користувач </td>
            <td> Автор </td>
            <td> Назва книги </td>
            <td> Має повернути до </td>
            <td> Нагадати </td>
                </tr>
        </thead>
                
        {% for book in books %}
          <tr>
            <td> {{ book.user.username }} </td>
            <td> {{ book.book.author.name }} </td>
            <td> {{ book.book.title }} </td>
            <td> {{ book.to_date }} </td>
            <td> <input type="checkbox" name="send_reminder" value={{ book.id }} checked>
            </td>
          </tr>
        {% endfor %}
        <input type="submit" value="Надіслати нагадування">
        </table>
        </form>
        
    {% else %}
        <h1>Все гаразд, поки що немає про що хвилюватися!</h1>
    {% endif %}

</body>
</html>